<div class="row m-r-0">
	<div class="col-md-12">
		<div class="band-cover">
			<img src="assets/images/band.jpg" class="photo">
			<div class="overlay"></div>
		</div>
		
	</div>
</div>
<div class="row m-r-0 p-20 m-t-20 m-b-20 band-info">
	<div class="col-md-12">
		<h1>A symphonic metal band from San Francisco, CA.</h1>
		<h3>Beautiful and exhilarating to the ear, a perfect synergy of classical influences and metal.</h3>
		<p>Inspired by this popular genre throughout Europe, Amaris is an eight-piece band with a unique and distinct sound. Fronting the band with vocal power and ethereal classical singing spanning 3 octaves, the singers of Amaris soar over the fusion of violin-led orchestral fantasy, and the driving force of metal.</p>
		<p>Thrilling and electrifying on stage, Amaris' cover repertoire includes a diverse collection of music from bands such as Nightwish, Within Temptation, Delain, Evanesence, Lacuna Coil, Edenbridge, Epica and more.</p>
		<p>We are ready to perform at bars, concert venues, and for corporate and special events. For more information, please visit our <a href="https://www.facebook.com/thebandamaris">Facebook page</a></p>
	</div>
</div>
