<div class="row m-t-10 m-l-10 m-r-0">
	<div class="col-md-3">
		<h2><span class="glyphicon glyphicon-music f-c-accent-100 m-r-10"></span>Music</h2>
	</div>
</div>

<div class="row m-l-10 m-r-0">
	<div class="col-md-3">
		<h3>Covers</h3>
	</div>
</div>

<div class="row m-l-10 m-r-0 m-t-10">
	<div class="col-3 col-sm-6 col-md-3">
		<iframe src="https://embed.spotify.com/?uri=spotify:track:6eIveQ3SRArBxIE0RsUQKE" width="250" height="330" frameborder="0" allowtransparency="true"></iframe>
	</div>
	<div class="col-3 col-sm-6 col-md-3">
		<iframe src="https://embed.spotify.com/?uri=spotify:track:2p0WCxScXkhtAW7yD96lof" width="250" height="330" frameborder="0" allowtransparency="true"></iframe>
	</div>
	<div class="col-3 col-sm-6 col-md-3">
		<iframe src="https://embed.spotify.com/?uri=spotify:track:1dS5Wd0t6purnGoFInm6XJ" width="250" height="330" frameborder="0" allowtransparency="true"></iframe>
	</div>
	<div class="col-3 col-sm-6 col-md-3">
		<iframe src="https://embed.spotify.com/?uri=spotify:track:2I3KEYoOiNemEX5eYPEeod" width="250" height="330" frameborder="0" allowtransparency="true"></iframe>
	</div>
</div>

<div class="row m-l-10 m-r-0 m-t-30">
	<div class="col-3 col-sm-6 col-md-3">
		<iframe src="https://embed.spotify.com/?uri=spotify:track:1Pw3TwAjDb1oS0F9x4dGdQ" width="250" height="330" frameborder="0" allowtransparency="true"></iframe>
	</div>
	<div class="col-3 col-sm-6 col-md-3">
		<iframe src="https://embed.spotify.com/?uri=spotify:track:7pTMHN7QnzmnwGQa3mTRNv" width="250" height="330" frameborder="0" allowtransparency="true"></iframe>
	</div>
	<div class="col-3 col-sm-6 col-md-3">
		<iframe src="https://embed.spotify.com/?uri=spotify:track:4cQ0TBcjXY0aDX6Nssj7Pu" width="250" height="330" frameborder="0" allowtransparency="true"></iframe>
	</div>
	<div class="col-3 col-sm-6 col-md-3">
		<iframe src="https://embed.spotify.com/?uri=spotify:track:0HLjmfHbfHM42GVTeeWypo" width="250" height="330" frameborder="0" allowtransparency="true"></iframe>
	</div>
</div>

<div class="row m-l-10 m-r-0 m-t-30">
	<div class="col-3 col-sm-6 col-md-3">
		<iframe src="https://embed.spotify.com/?uri=spotify:track:2QRZkZBOfW9Te3WAUgslr9" width="250" height="330" frameborder="0" allowtransparency="true"></iframe>
	</div>
</div>